/* #E6E6E6
  #CCCCCC
  #D9D9D9
  #C0C0C0
  #B3B3B3
  #A6A6A6
  #999999
  #437C70
  #325d54
  #3b6d62
  #2a4e46
  #223e38
  #192f2a
  #111f1c
  #AB0000
  #800000
  #960000
  #6b0000
  #620000
  #400000
  #2b0000
  #111f1c */

@font-face {
  font-family: "NectoMono";
  src:
    url("../assets/fonts/NectoMono/NectoMono-Regular.woff2") format("woff2"),
    url("../assets/fonts/NectoMono/NectoMono-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ronzino";
  src:
    url("../assets/fonts/Ronzino/Ronzino-Regular.woff2") format("woff2"),
    url("../assets/fonts/Ronzino/Ronzino-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "NectoMono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #fff;
}
code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
